.teamPage {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.tabs {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
  overflow: hidden;
}

.tabs :global(.arco-tabs-content) {
  flex: 1;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.tabs :global(.arco-tabs-content-list) {
  flex: 1;
  overflow: hidden;
  display: flex;
}

.tabs :global(.arco-tabs-content-item) {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
